/*STYLES GENERAUX*/
* {
    font-family: Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

body {
    background: #05017d;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

/*HEADER*/
header {
    padding: 100px 0px;
    background: url("https://images.pexels.com/photos/8846632/pexels-photo-8846632.jpeg?auto=compress&cs=tinysrgb&w=800");
    height: 500px;
}

header h1 {
    color: white;
    font-size: 3em;
    text-align: center;
}

span {
    color: rgb(197, 0, 79);
}

/*FORMULAIRE*/
.formulaire {
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 100px;
    margin: 20px auto;
}

.acces{
    text-align: center;
}

.accesItem{
    margin: 10px auto 0px auto;
}